@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 33px 9%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: transparent;
}
.logo {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
}
nav a {
    display: inline-block;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    margin: 0 30px;
    border-bottom: 2px solid transparent;
    transition: .5s;
}
nav a:hover {
    border-bottom: 2px solid white;
}
#menu-icon {
    color: white;
    font-size: 30px;
    z-index: 1000;
    cursor: pointer;
    display: none;
}
section {
    height: 100vh;
    background: linear-gradient(245.59deg, #4d9559 0%, #38703d 28.53%, #133917 75.52%);
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    padding: 0 19%;
}
.content h5 {
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-bottom: 40px;
}
.content h4 {
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
}
.content h1 {
    font-family: "Permanent Marker", cursive;
    font-size: 90px;
    line-height: 1;
    color: white;
    margin: 0 0 45px;
}
.content p {
    color: white;
    font-size: 15px;
    line-height: 1.9;
    margin-bottom: 40px;
}
.content a {
    display: inline-block;
    color: white;
    background-color: #4d9559;
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: .5s ease;
}
.btn {
    background-color: transparent !important;
    border: 1px solid white !important;
    margin-left: 20px;
}
.content a:hover {
    background-color: transparent;
    border: 1px solid white;
    transform: translateX(8px);
}
.content .btn i {
    vertical-align: middle;
    margin-right: 5px;
}
.image img {
    width: 700px;
    height: auto;
}
.icons {
    position: absolute;
    top: 50%;
    padding: 0 9%;
    transform: translateY(-50%);
}
.icons i {
    display: block;
    margin: 26px 0;
    font-size: 26px;
    color: white;
    transition: .3s ease-in-out;
}
.icons i:hover {
    color: #4d9559;
    transform: translateY(-5px);
}
.scroll-down {
    position: absolute;
    bottom: 6%;
    right: 9%;
}
.scroll-down i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    font-size: 25px;
    color: white;
    background: #4d9559;
    border-radius: 50%;
    transition: .5s ease;
}
.scroll-down i:hover {
    transform: translateY(-5px);
}


