body {
    background-color: #dddddd;
    margin: 24px;
}

.timer {
    font-family: sans-serif;
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    padding: 24px 32px;
    border-radius: 30px;
    background-color: white;
    margin: 0 auto;
}

.timer_part {
    font-size: 36px;
    font-weight: bold;
}

.timer_btn {
    width: 50px;
    height: 50px;
    margin-left: 16px;
    border-radius: 50%;
    border: none;
    color: white;
    background-color: #8208e6;
    cursor: pointer;
}

.timer-btn-start {
    background-color: #00b84c;
}

.timer-btn-stop {
    background-color: #ff0256;
}