* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #002339;
    color: white;
}

.container {
    margin: 12%;
    width: 90%;
    max-width: 700px;
}

.display {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background-color: white;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 18px;
    border-radius: 5px;
}

.container h1 {
    font-weight: 500;
    font-size: 45px;
}

.container span {
    color: #019f55;
    border-bottom: 4px solid #019f55;
    padding-bottom: 7px;
}

.display img {
    width: 30px;
    cursor: pointer;
}

.display input {
    border: 0;
    outline: 0;
    font-size: 24px;
    width: 100%;
}

.container button img {
    width: 28px;
    margin-right: 10px;
}

.container button {
    border: 0;
    outline: 0;
    background-color: #019f55;
    color: white;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 26px;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 850px) {
    .display {
        width: 95%;
    }
}

@media (max-width: 700px) {
    .display {
        width: 90%;
        padding: 16px 18px;
    }

    .container button {
        padding: 14px 20px;
    }

    .container h1 {
        font-size: 40px;
    }
}

@media (max-width: 700px) {
    .display {
        width: 88%;
        padding: 14px 18px;
    }

    .container button {
        padding: 12px 16px;
    }
}

@media (max-width: 500px) {
    .container {
        margin: 7%;
    }

    .display {
        width: 100%;
        padding: 14px 18px;
    }

    .container h1 {
        font-size: 35px;
    }

    .display img {
        width: 25px;
    }

    .container button {
        padding: 8px 10px;
    }
}

@media (max-width: 350px) {
    .container h1 {
        font-size: 28px;
    }

    .container button {
        padding: 6px 8px;
    }
}