@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: "poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
section {
    padding: 100px 200px;
}
.title {
    text-align: center;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
/* start header */
header {
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
header .logo {
    color: #3a6cf4;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.8em;
}
header .navigation a {
    color: #3a6cf4;
    font-weight: 500;
    font-size: 1.1em;
    padding-left: 30px;
}
header .navigation a:hover {
    color: #601cfc;
}
/* end header */
/* start home page section */
.main-section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    color: white;
    background: url(../images/background.png) no-repeat;
    background-size: cover;
    background-position: center;
}
.main-section h2 {
    font-size: 1.4em;
    font-weight: 500;
}
.main-section .name {
    margin-bottom: -30px;
    font-size: 25px;
}
.main-section h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #4e9eff;
    font-size: 3em;
    font-weight: 600;
}
.main-section h3 {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.main-section .main-button {
    display: inline-block;
    color: white;
    background-color: #3a6cf4;
    font-size: 1.1em;
    font-weight: 600;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: .7s ease;
}
.main-section .main-button:hover {
    background-color: #0a49f6;
    transform: scale(1.1);
}
.social-icons a {
    color: white;
    font-size: 1.7em;
    padding-right: 30px;
}
/* end home page section */
/* start services section */
.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.box {
    background-color: #fff;
    width: 20em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    text-align: center;
    transition: .7s ease;
}
.box:hover {
    transform: scale(1.1);
}
.box i {
    color: #3a6cf4;
    font-size: 8em;
}
.box h3 {
    color: #3a6cf4;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
    margin-top: 40px;
}
/* end services section */
/* start projects section */
.projects-section {
    background-color: #000016;
}
.projects-section .content {
    margin-top: 30px;
}
.projects-section .projects-box {
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    min-height: 14em;
    width: 19.8em;
    overflow: hidden;
    margin: 15px;
    transition: .7s ease;
}
.projects-section .projects-box:hover {
    transform: scale(1.1);
}
.projects-section .image img {
    width: 100%;
}
.projects-section .box:hover img {
    opacity: .9;
}
.projects-section .info {
    padding: 1em;
}
.projects-section .info p {
    font-size: 0.8em;
    color: #000;
}
.projects-section .project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}
.projects-section .project-title .more-details {
    color: #3a6cf4;
}
.projects-section .project-title .more-details:hover {
    color: #601cfc;
}
/* end projects section */
/* start contact section */
.contact-section .box i {
    font-size: 4.5em;
}
.contact-section .box h3 {
    color: #000;
}
.contact-section .box p {
    font-size: 1.1em;
}
/* end contact section */
/* start footer */
footer {
    background-color: #000016;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}
footer p {
    font-size: 1.3em;
    font-weight: 600;
}
footer p span {
    color: #3a6cf4;
}
footer .social-icons a {
    font-size: 1.3em;
    padding: 0 12px 0 0;
}
/* end footer */
/* start responsive */
@media (max-width: 1023px) {
    header {
        padding: 12px 20px;
    }
    .navigation a {
        padding-left: 10px;
    }
    .title {
        font-size: 1.8em;
    }
    section {
        padding: 80px 20px;
    }
    .content {
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 641px) {
    body {
        font-size: 12px;
    }
}
@media (max-width: 300px) {
    body {
        font-size: 10px;
    }
}
/* end responsive */